body { 
	font-family: sans-serif; 
	background-image: url('img3.jpg'); 
	background-color: #fff;
	overflow: none;
}

h1, h2, h3, h4 { 
	color: #FFFFFF; 
}

h1, h2 { 
	font-family: 'Georgia', serif; 
	margin: 0; 
}

h1 { 
	border-bottom: 2px solid #eee; 
}

h2 { 
	font-size: 1.2em; 
}

p, dd, dt { 
	color: #fff;
}

input[type=submit], a, button {
	text-decoration: none;
	background-color: #1e1e1e;
	color: #fff;
	padding: 10px 7px;
	overflow: none;
}

input[type=submit]:hover, button:hover, a:hover {
 	color: #1e1e1e;
	background-color: #fff;
	transition: background .5s;
	text-shadow: none;
}

input[type=submit], button {
	border: none;
}

.back {
	position: relative;
	text-align: center;
}

.cancel {
	padding: 0px;
}

.pane {
	position: absolute; 
	left: 20%; 
	width: 50%;
	border: 2px solid; 
    padding: 5px; 
    margin: 5px; 
    border-color: #999999; 
    background-color: #333333 
}

.rName {
	font-size: 1.25em;
}

.rstr, .deleteItem {
	position: relative;
	text-align: center;
	padding: 5px;
	overflow: none;
}

.delete {
	font-size: 23px;
}

.add {
	position: relative;
	text-align: center;
	margin-top: 40px
}

.header {
	left:50%; 
	text-align: center;}

.name {
	width:50%;
	display: inline-block; 
	float: left;}

.description {

}

.price {
	text-align: right; 
	width:50%; 
	float: right; 
}

@media screen and (max-width: 800px) {
	.pane {
		left: 10%;
	}
}

@media screen and (max-width: 600px) {
	.pane {
		left: 0%;
		width: 400px;
	}
}