{% extends 'main.html' %}
{% block content %}


<div class='pane'>
 	{% include 'header.html' %} 
	<h1 class='header'>Add an Item</h1>
	<form class='rstr' action='{{ url_for('add_item', restaurant_id = restaurant_id) }}' method='post'>
		<p>Name</p>
			<input type='text' size='30' name='name'>
		<p>Description</p>
			<input type='text' size='30' name='description'>
		<p>Price</p>
			<input type='text' size='30' name='price'>
		<p><input type='submit' value='Add Item'
			><a class='cancel' href='{{ url_for('menus', restaurant_id = restaurant_id) }}'
			><button type='button'>Cancel</button>
			</a>
		</p>
	</form>
</div>
{% endblock %}