<!DOCTYPE html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div>
		<div class="deleteItem">
			<h1>Are you sure you want to delete {{ item.name }}?</h1>
			<form action='{{ url_for('delete_item', restaurant_id = restaurant_id, menu_id = item.id) }}' method='post'>
				<input type='submit' value='Yes'>
				<a href='{{ url_for('menus', restaurant_id = restaurant_id) }}'>
				<button type='button'>No</button>
				</a>
			</form>
		</div>
	</div>
</body>